* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Verdana;
	/*overflow: hidden;*/
}
html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
body {
	/*display: flex;
  	min-height: 100vh;
  	flex-direction: column;*/
}
.top-nav {
	background: #000;
	height: 95px;
}
.container {

}
.nav-info {

}
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix{display: inline-block;} /* for IE/Mac */

/*nav-top*/
.sign-up-icon, .login-icon {
	color: #888;
	font-size: 20px;
	transition: .5s all ease;
	cursor: pointer;
}
.sign-up, .login {
	height: 95px;
	line-height: 95px;
}
.sign-up:hover .sign-up-link, 
.sign-up:hover .sign-up-icon,
.login:hover .login-link, 
.login:hover .login-icon {
	text-decoration: none;
	color: #fff;
}
.login:hover .login-link, .sign-up:hover .sign-up-link {
	text-decoration: none;
	color: #fff;
}
.login-link, .sign-up-link {
	font-size: 20px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #888;
	transition: .5s all ease;
	margin-right: 20px;
}

.nav-mind-dash-icon {
	cursor: pointer;
}

.nav-login .search-box {
	margin-top: 30px;
	margin-left: -10px;
}
.nav-login .search-box input {
	height: 40px;
}
.nav-login .search-button{
	margin-right: 250px;
	color: #fff;
	margin-top: 30px;
	font-size: 25px;
	border: solid #fff;
	border-radius: 5px;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
	transition: all .4s ease;
}
.nav-login .search-button:hover {
	background: #ccc;
	color: #000;

}
/*main*/
.ng-box-main {
	/*overflow: scroll;*/
	/*height: 70%;*/
	/*flex: 1;*/
	min-height: 600px;
	padding-bottom: 50px;

}
.welcome-main{
	background: #000;
	color: #fff;
	text-align: center;
	/*height: 120%;*/
	height: 2000px;
}

.welcome-main h1 {
	margin-top: 50px;
}
.brain-img {
	width: 500px;
	height: 400px;
	margin: 50px auto;
	background: url('../ui/brain.png') center no-repeat;
	background-size: 500px 400px;
	margin-bottom: 100px;
}
.welcome-main button {
	transition: .4s all ease;
}

/*main-login*/
.brain-icon {
	margin-top: 10px;
}
.main-login input {
	margin-top: 10px;
	margin-bottom: 15px;
}
.main-login button {
	width: 200px;
	color: #fff;
	transition: .4s all ease;
}
.main-login button:hover {
	box-shadow: 2px 2px 5px #000;
}
.main-login button span {
	color: #fff;
	margin-right: 10px;
	margin-left: -10px;
}

/*main-sign-up*/
.main-sign-up input {
	margin-top: 10px;
	margin-bottom: 15px;
}
.main-sign-up button {
	width: 200px;
	color: #fff;
	transition: .4s all ease;
}
.main-sign-up button:hover {
	box-shadow: 2px 2px 5px #000;
}
.main-sign-up button span {
	color: #fff;
	margin-right: 10px;
	margin-left: -10px;
}

/*quiz-main*/
.quiz-main {
	padding-top: 50px;
	box-sizing: border-box;
	text-align: center;
}
.quiz-main .quiz-item {
	width: 230px;
	height: 150px;
	margin: 20px;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	transition: .4s all cubic-bezier(0, 0, 0.3, 1);
	color: #444;
}
.quiz-main .quiz-item hr {
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1.5px solid #999;
}
.quiz-main .quiz-item:hover {
	transform: scale(1.3);
}
.box-top {
	justify-content: space-between;
	display: -webkit-flex;
}
.box-bottom {
	width: 80%;
	margin: 10px auto;
	justify-content: space-around;
	display: -webkit-flex;
}

.random-quiz {
	width: 300px;
	font-size: 20px;
	margin-top: 50px;
	transition: .4s all ease;
}
.random-quiz:hover {
	box-shadow: 2px 2px 5px #000;
}

/*do-quiz-main*/
.do-quiz-main {
	/*height: 100%;*/
	height: 1000px;
	background: -webkit-linear-gradient(rgb(135,132,131), rgb(35,32,31));
	background: -o-linear-gradient(rgb(135,132,131), rgb(35,32,31));
	background: linear-gradient(rgb(135,132,131), rgb(35,32,31));
    font-family: arial;
    /*border: solid #fff;*/
}

.do-quiz-main .container {
	background: #fff;
	width: 800px;
	border-radius: 0 0 10px 10px;
	box-shadow:0 5px 50px 10px #333;
	padding-top: 20px;
}
.do-quiz-main .container h2 {
	color: rgb(12,53,86);
}
.do-quiz-main .progress {
	width: 300px;
}
.do-quiz-main .question h3 {
	margin-top: -10px;
	display: inline-block;
	vertical-align: bottom;
}
.do-quiz-main .choose-answer {
	background: rgb(45,43,40);
	border-radius: 5px;
	margin-bottom: 30px;
}
.do-quiz-main input[type="radio"] {
	margin-left: 10px;
}
.do-quiz-main input[type="radio"]:checked ~ p{
	color: white
}
.do-quiz-main label {
	background: rgb(35,32,31);
	margin: 10px;
	width: 97%;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: -3px 3px 3px #000 inset;
	transition: all .8s ease;
}
.do-quiz-main label:hover {
	background: rgb(0,0,0);
}
.do-quiz-main label p {
	margin-top: 10px;
	margin-left: 10px;
	color: rgb(135,137,138);
	display: inline-block;
}

.do-quiz-main .buttons .btn {
	width: 70px;
	height: 35px;
	margin: 10px;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
}
.do-quiz-main .buttons .btn:hover {
	border-radius: 20px;
}
.do-quiz-main #checkAnswerBtn {
	width: 150px;
}

/*footer*/
.footer {
	width: 100%;
	/*border: solid;*/
	position: fixed;
	bottom: -145px;
	height: 150px;
	background: #000;
	color: #999;
	/*margin-top: -245px;*/
	transition: all .3s ease;
	z-index: 9999;
}


/*create-quiz-form*/
.create-quiz-main .form-group {
	height: 40px;
}
.create-quiz-main .add-question, .create-quiz-main .submit-quiz {
	margin-top: 20px;
	margin-right: 10px;
}
label {
	height: 40px;
	line-height: 30px;
	/*text-align: right;*/
}
.question-option {
	margin: 5px;
}

.buttons-divider {
	margin-top: 80px;
}

.quiz-question-index {
	margin-right: 5px;
}
/*.question-info {
	display: none;
}*/
.question-options div{
	margin-left: -5px;
}


.quiz-list-item {
	/*border: 1px solid #ccc;*/
	border-top: 1px dashed #ccc;
	border-radius: 5px;
	/*margin: 10px;*/
	font-size: 17px;
	height: 100px;
	pointer: cursor;
	padding-left: 10px;
	padding-top: 5px;
	box-sizing: border-box;
	cursor: pointer;
	transition: all .2s ease;
}
.quiz-list-item .quiz-creator {
	margin-top: 30px;
}
.quiz-list-item:hover {
	/*box-shadow: 0 1px 5px 2px #333;*/
	/*background: rgb(240,240,240);*/
	/*background: rgba(226,36,40,1);*/
	background: #ea3f49;
}
.quiz-list-item:hover p {
	color: #fff;
}
.quiz-time, .quiz-scope {
	margin-right: 10px;
}


.user-name {
	color: #fff;
	font-size: 20px;
	/*margin-right: -150px;
	margin-top: 30px;*/
	position: absolute;
	top: 15px;
	right: 150px;
	height: 70px;
	width: 70px;
	/*border: solid;*/
	border-radius: 50%;
	/*text-align: center;*/
	line-height: 40px;
	text-decoration: underline;
	cursor: pointer;
	z-index: 99;
}
.user-name:hover~.drop-down-menu {
	visibility: visible;
	width: 150px;
	right: 35px;
}
.drop-down-menu:hover {
	visibility: visible;
	width: 150px;
	right: 35px;
}
.drop-down-menu {
	/*display: none;*/
	visibility: hidden;
	width: 0;
	height: 70px;S
	color: #fff;
	background: #fff;
	position: absolute;
	right: 185px;
	top: 15px;
	border-top: solid 1px #ccc;
	box-shadow: 0 0 7px 1px #999;
	border-radius: 0 35px 35px 0;
	box-sizing: border-box;
	z-index: 1;
	transition: all .3s ease;
}
.drop-down-menu a {
	display: block;
	width: 120px;
	font-size: 16px;
	color: #000;
	margin-top: 10px;
	margin-left: 40px;
}


.quiz-list-info {
	border-bottom:1px dashed #ccc;
	height: 500px;
	overflow: scroll;
	margin-bottom: 10px;
}
.list-info-title {
	font-size: 16px;
	margin: 10px 0;
	display: block;
}
.quiz-list-info button, .question-info button {
	width: 70px;
}
.admin-mail-info {
	height: 500px;
	overflow: scroll;
	/*border-bottom:1px dashed #ccc;*/
	border-left: 1px solid #ccc;
}
.admin-mail-info .list-info-title {
	margin-top: 0;
}
.mail-item {
	/*height: 50px;*/
	line-height: 50px;
	list-style: none;
	/*background: rgb(241,241,241);*/
	cursor: pointer;
	border-bottom: 1px solid #ccc;
	border-radius: 3px;


}

td {
	cursor: pointer;
}
thead {
	background: rgb(42,44,46);
	color: #fff;
}
.mail-item:hover {
	background: rgba(226,36,40,0.3);
}
.mail-item button {
	height: 30px;
	margin-top: 10px;
	margin-right: 5px;
}
.center-question-info {
	/*border: solid;*/
	margin-top: 20px;
	height: 700px;
	/*overflow: scroll;*/
}
.center-question-info input {
	margin: 20px 0;
}
.questions-list {
	height: 600px;
	overflow: scroll;
}

.user-part {
	margin-top: 50px;
	height: 1000px;
	/*border: solid;*/
	color: #666;
	display: none;
}
.admin-part {
	display: none;
}
.user-center-main {
	overflow: scroll;
}
.glyphicon-camera {
	font-size: 80px;
	color: #fff;
}
.user-icon-box {
	width: 250px;
	height: 250px;
	/*border: solid rgba(244,244,244,1);*/
	border-radius: 50%;
	margin-bottom: 20px;
	cursor: pointer;
}
.inner-wrap {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	background: rgba(0,0,0,0.3);
	text-align: center;
	opacity: 0;
	transition: all .3s ease;
}
.user-icon-box:hover .inner-wrap {
	line-height: 300px;
	opacity: 1;
	border: solid #000;
}
.user-box-name {
	font-size: 30px;
}
#containerPie {
	margin-left: -50px;
	/*border: solid;*/
}
.user-scope-percent-part {
	/*border: solid;*/
	height: 450px;
	padding-top: 50px;
	padding-left: -50px;
}
.user-correct-rate-part {
	/*border: solid;*/
	height: 400px;
	padding-left: 50px;
}

.user-history-quiz-part {
	padding-left: 50px;
	padding-top: 45px;
	height: 900px;
}


.history-quiz-item {
	position: relative;
	list-style: none;
	border: 1px solid #ccc;
	/*box-shadow: 0 0 5px 0.5px #ccc;*/
	border-radius: 5px;
	height: 230px;
	width: 200px;
	margin: 10px;
	padding: 0;
	box-sizing: border-box;
	cursor: pointer;
	transition: all .3s ease;
	overflow: hidden;
	text-align: center;
}
.history-quiz-item:hover .quiz-record-wrap {
	left: 0px;
}
.quiz-record-wrap {
	position: absolute;
	width: 100%;
	height: 230px;
	background: rgba(0,0,0,0.6);
	color: #fff;
	top: 0;
	left: 200px;
	padding: 5px;
	transition: all .3s ease;
}
.quiz-record-wrap p {
	font-size: 20px;
}
.history-quiz-item:hover {
	box-shadow: 0 0 15px 2px #333;
	background: #888;
	color: #fff;
	/*transform: rotateY(180deg);*/
}
.pro-quiz-record .quiz-title {
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;
	padding: 20px;
	height: 80px;
}

.pro-quiz-record .quiz-type-box {
	margin-left: -1.5%;
	border-radius: 5px;
	height: 50px;
	width: 103%;
	text-align: center;
	line-height: 50px;
	color: #fff;
}

.pro-quiz-record .quiz-finished-time, 
.pro-quiz-record .quiz-finished-accuracy,
.random-quiz-record .quiz-finished-time, 
.random-quiz-record .quiz-finished-accuracy {
	margin-top: 10px;
	text-align: center;
}
.random-quiz-record .quiz-record-filed {
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;
	padding: 20px;
	height: 80px;
}
.random-quiz-record .quiz-type-box {
	margin-left: -1.5%;
	border-radius: 5px;
	height: 50px;
	width: 103%;
	text-align: center;
	line-height: 50px;
	color: #fff;
}
.quiz-random-color {
	background: #00a786;
}

.quiz-pro-color {
	background: #3b3b3f;
}

#choose-user-icon {
	display: none;
}
.btn-group {
	margin-left: 10px;
}
.nav-tabs{
	cursor: pointer;
}

.user-part-show {
	display: block;
}

.user-part-hide {
	display: none;
}
.questions-list button {
	width: 70px;
	margin: 5px;
}
.opacity-full {
	opacity: 100;
	transition: all .3s ease;
}
.opacity-empty {
	opacity: 0;
}
.check-detail-nav-btn {
	margin: 5px;
}
.btn-border {
	background: #fff;
	color: #000;
}
.check-detail-option-info {
	font-size: 17px;
	margin: 10px 0;
}
.check-detail-answer-info {
	margin-top: 10px;
	font-size: 17px;
}
.check-detail-answer {
	font-weight: bolder;
}
.check-detail-answer-correct {
	color: green;
}
.check-detail-answer-error {
	color: red;
}
.comment-input-area {
	padding-top: 50px;
	margin-bottom: 50px;
}
.submit-comment {
	margin-top: 20px;
}
li {
	list-style: none;
}
.comment-box-item {
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right: 5px;
	min-height: 100px;
}
.submit-bug-box {
	width: 120px;
	height: 50px;
	background: #333;
	color: #fff;
	border-radius: 0 3px 3px 0;
	position: fixed;
	top: 200px;
	left: -60px;
	line-height: 50px;
	font-size: 17px; 
	cursor: pointer;
	transition: all .3s ease;
}

.submit-bug-box:hover {
	left: 0;
}
.pro-user-create-info {
	margin-top: 20px;
}
.pro-user-create-info h4 {
	color: #000;
}
.create-quiz-item {
	height: 100px;
	border: 1px solid #ccc; 
	/*box-shadow: 0px 1px 10px 1px #ccc;*/
	border-radius: 5px;
	position: relative;
	/*padding: 5px;*/
	box-sizing: border-box;
	padding-right: 80px;
	margin: 15px;
	cursor: pointer;
	overflow: hidden;
	transition: all .4s ease;
}
.create-quiz-item:hover {
	box-shadow: 0px 1px 10px 1px #ccc;
	
	/*transform: rotateY(180deg);*/
}
.create-quiz-item:hover .create-quiz-item-wrap {
	top: 0;
}
.create-quiz-item-state {
	width: 60px;
	height: 40px;
	/*border: 1px solid;*/
	border-radius: 3px 3px 0 0;
	position: absolute;
	right: 20px;
	top: -6px;
	text-align: center;
	font-size: 17px;
	line-height: 40px;
	box-shadow: 0 1px 5px 1px #ccc;
}

.create-quiz-item-wrap {
	border-radius: 5px;
	height: 100px;
	width: 100%;
	position: absolute;
	top: 100px;
	left: 0;
	padding: 5px;
	background: rgba(0,0,0,0.6);
	transition: all .3s ease;
	overflow: auto;
}
.create-quiz-item-flag {
	position: absolute;
	right: 20px;
	top: 34px;
	width: 0;
	height: 0;

}
.create-quiz-item-title {
	font-size: 18px;
	padding: 5px;
}
.pass .create-quiz-item-state{
	background: #93eb83;
}
.pass .create-quiz-item-flag {
	border: 30px solid transparent;
	border-top: 10px solid #93eb83;
}

.wait .create-quiz-item-state{
	background: #97cffd;
}
.wait .create-quiz-item-flag {
	border: 30px solid transparent;
	border-top: 10px solid #97cffd;
}

.reject .create-quiz-item-state{
	background: #ea3f49;
	color: #fff;
}
.reject .create-quiz-item-flag {
	border: 30px solid transparent;
	border-top: 10px solid #ea3f49;
}

.donate-link {
	text-align: right;
}
.donate-link:hover {
	color: #fff;
}

