<div class="nav-login" ng-controller="SearchBoxController">
	<span class="glyphicon glyphicon-search search-button pull-right" ng-click="getSearchFn()"></span>
 	<div class="search-box col-md-3 pull-right">
 		<input type="text" placeholder="search" class="form-control" ng-model="keyOfSearch" ng-keydown="keyDownGetSearch($event)">
 	</div>
	<div class="user-name pull-right" style="background: url({{userIconUrl}}) no-repeat center; background-size: 70px" ></div>
	<div class="drop-down-menu">
		<a href="javascript: void(0)" ng-click="toUserCenterFn()">User Center</a>
		<a href="javascript: void(0)" ng-click="logOutFn()">Log out</a>
	</div>
 	
 	<div class="submit-bug-box" ng-click="submitBugFn()">Submit BUGs</div>
 	<div class="modal fade" id="submitBugModal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title">Submit Bug</h4>
	      </div>
	      <div class="modal-body">
	        <p>input your reflection:</p>
	        <!-- <input type="text" class="form-control" ng-model="bugToSubmit"> -->
	        <textarea rows="4" class="form-control" ng-model="bugToSubmit">Your reflection goes here</textarea>
	        <br />
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-success" ng-click="submitBug()">submit</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
 	
</div>