<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quizGym.entity.GroupQuestion">
	<resultMap type="groupQuestion" id="groupQuestionMap">
		<id property="id" column="group_id"/>
		<result property="typeID" column="type_id"/>
		<result property="name" column="group_name"/>
		<result property="createrName" column="creater_name"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
	
	<!-- 插入套题信息 -->
	<insert id="saveGroupQuestion" parameterType="groupQuestion">
		insert into group_question (group_name, creater_name, create_time, type_id)
		values (#{name}, #{createrName}, #{createTime}, #{typeID})
	</insert>
	
	<!-- 根据id查询套题信息 -->
	<select id="findByID" parameterType="map" resultMap="groupQuestionMap">
		select * 
		from group_question
		where group_id = #{id}
	</select>
	
	<!-- 查询最大ID -->
	<select id="findMaxID" resultType="java.lang.Integer">
		select max(group_id) from group_question
	</select>
	
	<!-- 将题目信息插入 -->
	<insert id="saveQuestionContent" parameterType="map">
		insert into group_content(group_id,question_id)
		values(#{groupID},#{questionID})
	</insert>
	
	<!-- 查询特定领域下的题目单 -->
	<select id="findSpecList" parameterType="int" resultMap="groupQuestionMap">
		select *
		from group_question
		where type_id=#{id} and status=1;
	</select>
	
	<!-- 查询套题内的所有题目 -->
	<select id="findQuestions" parameterType="int" resultType="int">
		select question_id
		from group_content
		where group_id=#{id}
	</select>
	
	<!-- 根据关键字模糊匹配查询套题题单 -->
	<select id="findKeyList" parameterType="string" resultMap="groupQuestionMap">
		select * 
		from group_question
		where  group_name like #{name}
	</select>
	
	<!-- 查询需要审核的题目单 -->
	<select id="findCheckList" resultMap="groupQuestionMap">
		select *
		from group_question
		where status = 0;
	</select>
	
	<!-- 查询某个用户做过的某种类型所有题目的正确错误个数 -->
	<select id="findDoneInfo" parameterType="map" resultType="java.util.HashMap">
		select count(u.wrong_num) as w, count(u.right_num) as r
		from group_question g inner join ug_collect_middle u
		on g.group_id=u.group_id
		where g.type_id=#{typeID} and u.user_id = #{userID}
	</select>
	
	<!-- 查询用户最近10次? -->
	<select id="findDoneRecent" resultType="java.util.HashMap">
		select u.wrong_num as w, 
				u.right_num as r,
				u.user_id as userID,
				u.group_id as groupID,
				u.done_time as time
		from ug_collect_middle u
		where u.user_id = #{id}
		order by u.done_time
		<!-- limit 0,10 -->
	</select>
	
	<!-- 查询随机生成的套题信息 -->
	<select id="findRandomQuestions" parameterType="int" resultType="java.util.HashMap">
		select u.user_id as userID,
			   u.random_id as randomID,
			   u.done_time as time,
			   u.right_num as r,
			   u.wrong_num as w
		from ur_middle u
		where user_id = #{id};
	</select>
	
	
	
	
</mapper>