<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quizGym.entity.MailBox">
	<resultMap type="mailBox" id="mailBoxMap">
		<result property="username" column="username" />
		<result property="information" column="information"/>
	</resultMap>
	
	<!-- 查询管理员的通知信息 -->
	<select id="findInfo" resultMap="mailBoxMap">
		select * 
		from mailbox
	</select>
	<!-- 插入通知信息 -->
	<insert id="saveInfo" parameterType="map">
		insert into mailbox values(#{username}, #{information});
	</insert>	
</mapper>