<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quizGym.entity.Question">
	<resultMap type="question" id="questionMap">
		<id property="id" column="question_id"/>
		<result property="name" column="question_name"/>
		<result property="answerA" column="answerA"/>
		<result property="answerB" column="answerB"/>
		<result property="answerC" column="answerC"/>
		<result property="answerD" column="answerD"/>
		<result property="rightAnswer" column="right_answer"/>
		<result property="reason" column="reason"/>
		<result property="typeID" column="qt_id"/>
	</resultMap>
	
	<!-- 插入题目 -->
	<insert id="saveQuestion" parameterType="question">
		insert into question(question_name,answerA,answerB,answerC,answerD,right_answer,reason,qt_id)
		values(#{name},#{answerA},#{answerB},#{answerC},#{answerD},#{rightAnswer},#{reason},#{typeID})
	</insert>
	
	<!-- 随机查找一定数量的题目 -->
	<select id="randFindQuestion" parameterType="map" resultMap="questionMap">
		select q.question_id, q.question_name, q.answerA,q.answerB, q.answerC, q.answerD, q.right_answer, q.reason
		from question q inner join types t
		on q.qt_id = t.types_id
		and t.types_name = #{type}
		order by rand()
		limit 0,#{num}
	</select>
	
	<!-- 查询当前最大的id -->
	<select id="findMaxID" resultType="java.lang.Integer">
		select max(question_id) from Question
	</select>
	
	<!-- 根据一些列id查询题目 -->
	<select id="findSpec" resultMap="questionMap">
		select *
		from question
		where question_id in 
		<foreach collection="list" item="question_id" index="index" open="(" close=")" separator=",">
			#{question_id}
		</foreach>
	</select>
	
	<!-- 查询所有题目 -->
	<select id="findAllQuestion" resultMap="questionMap">
		select *
		from question
	</select>
	
	<!-- 查询题目类型 -->
	<select id="findRandQuestionType" parameterType="int" resultType="int">
		select q.qt_id
		from question as q right join 
		(select u.question_id, u.random_id
		from uq_random_middle u inner join ur_middle r
		on u.random_id = r.random_id
		where u.random_id = #{id}) as m
		on q.question_id = m.question_id
		limit 0,1
	</select>
	
	<!-- 存储用户对题目的评论 -->
	<insert id="saveComment" parameterType="map">
		insert into question_comment
		values(#{questionID}, #{userName}, #{userComment}, #{commentTime});
	</insert>
	
	<!-- 查看某个题目的所有评论 -->
	<select id="findCommentByQuestionID" parameterType="int" resultType="map">
		select q.user_name as username, q.user_comment as comment, q.commment_time as time, u.head_image as image
		from question_comment q left join user u
		on q.user_name = u.user_name
		where q.question_id = #{id}
		order by q.commment_time desc
	</select>
	
	<!-- 删除指定题目id的题目 -->
	<delete id="deleteQestion">
		delete
		from question
		where question_id in 
		<foreach collection="list" item="question_id" index="index" open="(" close=")" separator=",">
			#{question_id}
		</foreach>
	</delete>
	
	<!-- 根据ID更新question -->
	<update id="updateQuestionByID" parameterType="map">
		update question 
		set question_name = #{name},
			answerA = #{answerA},
			answerB = #{answerB},
			answerC = #{answerC},
			answerD = #{answerD},
			right_answer = #{right},
			reason = #{reason}
		where question_id = #{id}
	</update>
</mapper>